<% include public/views/header.ejs %>

<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12 text-center">
            <h3>T E M P L A T E</h3>
        </div>
    </div>
    <form id="rosterForm" action="javascript:0">

        <fieldset id="fieldset.0">
            <img src="public/images/ce.png">
		</fieldset>

        <div class="small-22 small-centered cell">
            <input type="submit" class="button large expanded" id="formSubmit1" name="formSubmit" value="PRESS FOR ONE (4)">
            <input type="submit" class="button large expanded secondary" id="formSubmit2" name="formSubmit" value="PRESS FOR TWO (8)">
        </div>
    </form>
</div>
<!-- SCRIPTS -->
<script src="public/javascripts/main.js" type="module"></script>

<% include public/views/footer.ejs %>